body {
  background-color: cornsilk;
}

/* classi JS */

.square {
  height: 50px;
  width: 50px;
  border: 1px solid #000;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square.azure {
  background-color: aquamarine;
}

.width-350,
.width-450,
.width-500 {
  margin: 0 auto;
  margin: 0 auto;
  margin: 0 auto;
}

.width-350 {
  width: 350px;
}

.width-450 {
  width: 450px;
}

.width-500 {
  width: 500px;
}
